*.exe
*.pgm
*.ppm
*.rar
!vendor/
.DS_Store
_ReSharper*
*.opensdf
*.sdf
*.suo
*.dir
*.vcxproj*
*.sln
Win32
x64
Debug
Release
MinSizeRel
RelWithDebInfo
*.xcodeproj
bin
bin-int

# Directories
.vs/
bin/
bin-int/

# Files
.user

Makefile
Tecodity.config
Tecodity.creator
Tecodity.files
Tecodity.includes
